@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{
  background:url('~@/assets/img/dust_scratches.png');
  font-family: 'Open Sans';
}

.background-login{
  background-image: url('https://source.unsplash.com/collection/3518036/1600x900');
  background-size: cover;
}

.background-404{
  background-image: url('https://source.unsplash.com/collection/8810399/1600x900');
  background-size: cover;
}

.background-admin{
  background-image: url('https://source.unsplash.com/collection/298137/1600x900');
  background-size: cover;
}

.shadowbox{
  box-shadow: 1px 2px 2px #d3d3d3;
}

/*Map*/
.ol-attribution{
  display:none;
}

